.pink-stop {
  stop-color: #ED7FA0;
}

.pink-alt-stop {
  stop-color: #F7CB6A;
}

.blue-stop {
  stop-color: #3E98F5;
}

.blue-alt-stop {
  stop-color: #6ADDD7;
}

.green-stop {
  stop-color: #6ADDD7;
}

.green-alt-stop {
  stop-color: #3E98F5;
}

.orange-stop {
  stop-color: #F7CB6A;
}

.orange-alt-stop {
  stop-color: #ED7FA0;
}

@media only screen and (min-width: 1830px) {
  #aboutUs {
    width: 68%;
  }
}

@media only screen and (max-width: 1830px) {
  #aboutUs {
    width: 75%;
  }
}

@media only screen and (min-width: 1800px) {
  #features {
    width: 65%;
  }
}

@media only screen and (max-width: 1660px) {
  #aboutUs {
    width: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  #projectsInfo {
    height: 100vh;
    width: 40%;
    margin-left: auto;
  }
  #projects {
    height: 100vh;
    background-position: left;
    background-image: url(./assets/binary_bg.jpg);
  }
  #projectsAnimation {
    width: 60%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #offeringsText {
    color: #e0e0e0;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 64px;
    font-size: 14pt;
    line-height: 2rem;
  }
  #rightOffering {
    height: 950px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #rightOffering #contentScroll {
    position: absolute;
    -webkit-transform: translateX(-220px) translateY(-40px);
            transform: translateX(-220px) translateY(-40px);
  }
  #offerings {
    height: 950px;
  }
}

@media only screen and (max-width: 1300px) {
  #aboutUs {
    width: 90%;
  }
  #projectsAnimation {
    display: none;
  }
  #projects {
    background-position: bottom;
    padding-bottom: 64px;
    background-image: url(./assets/binary_bg.jpg);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: fit-content;
  }
  #projectsInfo, #projectsAnimation {
    width: 100%;
  }
  #offerings {
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-position: bottom;
  }
  #offeringsText {
    width: 95%;
    color: #010B1C;
    padding-bottom: 64px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14pt;
    line-height: 2rem;
  }
  #rightOffering {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #leftOffering {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #offerings {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media only screen and (min-width: 880px) {
  #leftOffering, #rightOffering {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  #offerings {
    margin-top: 128px;
  }
  #offeringsTitle {
    padding-left: 300px;
    padding-bottom: 18px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #offeringsTitle h1 {
    font-size: 48pt;
  }
  .offeringListItem, #offeringsList ul .offeringListItem-selected, .offeringsList ul .offeringListItem-selected {
    font-size: 18pt;
    margin: 32px;
  }
  .offeringListItem-selected {
    font-weight: 600;
  }
  #offeringsList {
    padding-left: 256px;
    padding-bottom: 64px;
  }
  #offeringsText {
    width: 80%;
    padding: 16px;
    padding-left: 128px;
  }
  #introductoryInfo {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #introductoryInfo #infoText {
    width: 45%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #introductoryInfo #MlRobot {
    width: 55%;
  }
  #introductoryInfo #MlRobot img {
    width: 100%;
  }
}

@media only screen and (max-width: 880px) {
  #offeringsText {
    width: 90%;
  }
  #offeringsTitle {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #offeringsTitle h1 {
    font-size: 48pt;
  }
  #offeringsList {
    padding-bottom: 320px;
  }
  #introductoryInfo {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #introductoryInfo #infoText {
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #introductoryInfo #MlRobot {
    width: 100%;
  }
  #introductoryInfo #MlRobot img {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  #offeringsList {
    padding-bottom: 500px;
  }
  #imageDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .signLogDivs {
    width: 45%;
  }
}

@media only screen and (max-width: 1200px) {
  .signLogDivs {
    width: 70%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #YTWrapper {
    width: 100%;
  }
  #JoinTheProgramMainDiv {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #imageDiv {
    display: none;
  }
  #JoinSignDiv {
    margin: auto;
    background-image: none;
    width: 100%;
  }
  .JoinSignContainer {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media only screen and (min-width: 1200px) {
  .JoinSignContainer {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #JoinSignDiv {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-image: url("./assets/yellow_2x.png"), url("./assets/pink.svg");
  }
  #YTWrapper {
    width: 50%;
  }
  #imageDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #JoinTheProgramMainDiv {
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .signLogDivs {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  #introductoryInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #introductoryInfo img {
    margin-top: 64px;
    width: 90%;
  }
  #landingDiv {
    padding-top: 8px;
  }
  /*
    #features{
        flex-direction: column;
    }
    */
  #quickLinks {
    display: none;
  }
  #projectsInfo {
    width: 85%;
  }
}

@media only screen and (min-width: 600px) {
  #introductoryInfo {
    padding-top: 128px;
  }
  #introductoryInfo img {
    width: 45%;
  }
  #landingDiv {
    padding-top: 32px;
  }
  .feature {
    float: left;
  }
}

* {
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

#landingDiv {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16pt;
}

#navbar #quickLinks {
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#navbar #quickLinks ul {
  list-style: none;
}

#navbar #quickLinks ul li {
  color: #010B1C;
  display: inline;
  margin-left: 18px;
  margin-right: 18px;
}

#navbar #quickLinks ul li:hover {
  cursor: pointer;
}

#videoContainer {
  width: 100%;
  background-color: white;
  height: 500px;
}

#introductoryInfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#introductoryInfo #infoText {
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#introductoryInfo #infoText #containerInfo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#introductoryInfo #infoText h1, #introductoryInfo #infoText h6 {
  margin: 0;
  margin-bottom: 8px;
}

#introductoryInfo #infoText .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
  background: linear-gradient(0.48turn, #6ADDD7, #67D8D9, #3E98F5);
  border: none;
  color: black;
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 25px;
  height: 50px;
  width: 200px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#introductoryInfo #infoText .check span {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#introductoryInfo #infoText .check:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #010B1C;
}

#introductoryInfo #infoText .check:hover span {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#introductoryInfo #infoText .check:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#introductoryInfo #infoText .check p {
  font-weight: 700;
  font-size: 12pt;
}

#introductoryInfo #infoText .check span {
  margin: 0;
  font-weight: 100;
}

#introductoryInfo #infoText h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: 800;
  font-size: 42pt;
}

#introductoryInfo #infoText h6 {
  font-size: 14pt;
}

#introductoryInfo #MlRobot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#YTWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 64px;
  padding-bottom: 64px;
  -webkit-filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
}

.videoEmbed {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.videoEmbed-collapsed {
  display: none;
}

.videoEmbed-expanded {
  display: block;
  height: 0px;
}

.videoEmbed .videoIframe {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoEmbed .videoIframe-expanded {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a6e;
  border-radius: 10px;
}

@-webkit-keyframes videoShows {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 345px;
  }
}

@keyframes videoShows {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 345px;
  }
}

.featuresVidExpanded {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-name: videoShows;
          animation-name: videoShows;
}

#features {
  display: -ms-grid;
  display: grid;
  overflow-x: scroll;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  padding: 16px;
  padding-top: 64px;
  padding-bottom: 256px;
  justify-items: center;
      grid-template-areas: "featuresDiv1 featuresDiv2 featuresDiv3 featuresDiv4";
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 8px;
}

#features a {
  text-decoration: none;
  color: #010B1C;
}

#features .feature {
  width: 250px;
  height: 300px;
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#features .feature:hover {
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-filter: drop-shadow(0 1rem 0.75rem rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 1rem 0.75rem rgba(0, 0, 0, 0.1));
}

#features .feature:hover span {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

#features .feature p {
  font-weight: 800;
  font-size: 24pt;
}

#features .feature span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20pt;
  width: 35px;
  height: 35px;
  color: #010B1C;
  background: var(--BGValue);
  padding: 4px;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

#projects #projectsAnimation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

#projects #projectsAnimation video {
  height: 100%;
}

#projects #projectsInfo {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 16px;
  padding-left: 32px;
  z-index: 3;
}

#projects #projectsInfo #infoTextProj {
  line-height: 2rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  float: right;
}

#projects #projectsInfo #infoTextProj h1, #projects #projectsInfo #infoTextProj p {
  font-family: 'Archivo', sans-serif;
}

#projects #projectsInfo #infoTextProj h1 {
  font-size: 32pt;
  font-weight: 800;
}

#projects #projectsInfo #infoTextProj p {
  font-size: 14pt;
  font-weight: 300;
}

.offeringRobot {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#lottie {
  margin-bottom: -28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
}

#computerAnimationEnglish, #computerAnimationArabic, #lottie {
  width: 100%;
}

#offerings {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

#offerings #leftOffering, #offerings #rightOffering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#offerings #rightOffering {
  color: white;
}

#offerings #rightOffering #contentScroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#offerings #rightOffering #contentScroll h1 {
  font-size: 32pt;
}

#offerings #rightOffering #contentScroll #textItemDiv {
  text-align: center;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
}

#offerings #rightOffering #contentScroll #textItemDiv p {
  text-align: center;
  font-size: 26pt;
  font-weight: 800;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#offerings #rightOffering button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
}

#offerings #rightOffering button:hover {
  cursor: pointer;
}

#offerings #rightOffering button span {
  color: white;
  font-size: 28pt;
}

#offeringsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#offeringsTitle h1 {
  font-weight: 800;
}

#offeringsText {
  font-family: 'Archivo', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 300;
}

#offeringsList, .offeringsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#offeringsList ul .offeringListItem, #offeringsList ul .offeringListItem-selected, .offeringsList ul .offeringListItem, .offeringsList #offeringsList ul .offeringListItem-selected, #offeringsList .offeringsList ul .offeringListItem-selected, .offeringsList ul .offeringListItem-selected {
  color: #e0e0e0;
  font-weight: 500;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

#offeringsList ul .offeringListItem:hover, #offeringsList ul .offeringListItem-selected:hover, .offeringsList ul .offeringListItem:hover, .offeringsList #offeringsList ul .offeringListItem-selected:hover, #offeringsList .offeringsList ul .offeringListItem-selected:hover, .offeringsList ul .offeringListItem-selected:hover {
  cursor: pointer;
}

#offeringsList ul .offeringListItem-selected, .offeringsList ul .offeringListItem-selected {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  color: white;
}

.offeringsDiv {
  height: 50%;
}

#aboutUs {
  overflow-x: scroll;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  padding: 16px;
  padding-bottom: 128px;
  -webkit-column-gap: 16px;
          column-gap: 16px;
      grid-template-areas: "Holexp ourVision ourMission";
}

#aboutUsDivs {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 16px;
}

#aboutUsHeader {
  margin-top: 256px;
}

#aboutUsHeader h1 {
  font-size: 32pt;
  font-weight: 900;
}

.aboutUsDiv {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 720px;
  border-radius: 18px;
  overflow: hidden;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
}

.aboutUsDiv:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.15));
}

.aboutUsDiv img, .aboutUsDiv h3, .aboutUsDiv p {
  margin: 0;
  padding: 0;
}

.aboutUsDiv img {
  width: 400px;
}

.aboutUsDiv .aboutUsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  padding-top: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: white;
}

.aboutUsDiv .aboutUsText h3 {
  font-size: 20pt;
  margin-bottom: 16px;
}

.aboutUsDiv .aboutUsText p {
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 14pt;
}

#emailButton a {
  background: linear-gradient(110deg, #6ADDD7, #67D8D9, #3E98F5);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #010B1C;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  height: 10px;
}

#emailButton a #emailIcon {
  font-size: 14pt;
  margin-right: 8px;
}

#emailButton a:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#emailButton a:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#JoinSignDiv {
  height: 800px;
  background-color: white;
  background-position: left, bottom right;
  background-repeat: no-repeat;
  background-size: contain, 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signLogDivs {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: contain;
  background-position: bottom right;
}

.signLogDivs .logSignHeader {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}

.signLogDivs .fieldTag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 45px;
  border-radius: 2rem;
  margin-top: 32px;
  border-color: rgba(1, 11, 28, 0.25);
}

.signLogDivs .fieldTag input {
  border: none;
  background: none;
  height: 30px;
  width: 90%;
}

.signLogDivs .fieldTag input:active, .signLogDivs .fieldTag input:active, .signLogDivs .fieldTag input:focus {
  opacity: 1;
  border: none;
  outline: none;
}

.signLogDivs .fieldTag legend {
  opacity: 0.35;
  font-family: 'Mulish', sans-serif;
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 8px;
  padding-right: 8px;
}

#JoinTheProgramMainDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#imageDiv {
  width: 55%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#imageDiv img {
  margin-right: 64px;
  width: 70%;
}

.submitButton {
  width: 100%;
  height: 45px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14pt;
  font-weight: 800;
  margin-top: 32px;
  border-radius: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background: linear-gradient(100deg, #F7CB6A, #ED7FA0);
  -webkit-box-shadow: inset 0 0 0 0.01px #F7CB6A;
          box-shadow: inset 0 0 0 0.01px #F7CB6A;
}

.submitButton #rightChev, .submitButton #leftChev {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.submitButton:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-box-shadow: inset 450px 0 0 0 #ED7FA0;
          box-shadow: inset 450px 0 0 0 #ED7FA0;
  cursor: pointer;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.submitButton:hover #rightChev, .submitButton:hover #leftChev {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: var(--Direction);
          transform: var(--Direction);
}

.submitButton:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.itemSwitch {
  padding: 0;
}

#SwitchLang {
  z-index: 4;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  padding: 8px;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  width: 180px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #6ADDD7;
  margin-top: 16px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: translateX(-145px);
          transform: translateX(-145px);
}

#SwitchLang:hover {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

#SwitchLang p {
  padding: 0;
  margin: 0;
  margin-right: 8px;
  font-weight: 800;
}

#SwitchLang span {
  padding: 0;
  margin: 0;
}

.noYesAccount, .forgotPassword {
  border: none;
  background: none;
  text-decoration: underline;
  font-size: 12pt;
  font-weight: 600;
  margin-top: 32px;
}

.noYesAccount:hover, .forgotPassword:hover {
  cursor: pointer;
}

.forgotPassword {
  margin-top: 8px;
  margin-bottom: 32px;
}

.fanButton {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: #ED7FA0;
  color: #ED7FA0;
  border: 1px solid #ED7FA0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.fanButton-poweredOn {
  border: #3E98F5;
  color: #3E98F5;
  border: 1px solid #3E98F5;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@-webkit-keyframes letterMove {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes letterMove {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#holexpLogo:hover #letterH, #holexpLogo:hover #letterO, #holexpLogo:hover #letterL, #holexpLogo:hover #letterE, #holexpLogo:hover #letterX, #holexpLogo:hover #letterP {
  -webkit-animation-name: letterMove;
          animation-name: letterMove;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: var(--Order);
          animation-delay: var(--Order);
}

.arabic {
  display: none;
}
/*# sourceMappingURL=index.css.map */