.pink-stop {
  stop-color: #ED7FA0;
}

.pink-alt-stop {
  stop-color: #F7CB6A;
}

.blue-stop {
  stop-color: #3E98F5;
}

.blue-alt-stop {
  stop-color: #6ADDD7;
}

.green-stop {
  stop-color: #6ADDD7;
}

.green-alt-stop {
  stop-color: #3E98F5;
}

.orange-stop {
  stop-color: #F7CB6A;
}

.orange-alt-stop {
  stop-color: #ED7FA0;
}

@media only screen and (min-width: 1300px) {
  #aboutUs {
    width: 75%;
  }
}

@media only screen and (max-width: 1500px) {
  /*#features{
        grid-template-areas:
        "featuresDiv1 featuresDiv2 featuresDiv3"
        "featuresDiv4 featuresDiv8 featuresDiv8";
    }*/
  #projects {
    background-position: -100px,0px;
  }
}

@media only screen and (max-width: 1300px) {
  #aboutUs {
    width: 100%;
  }
  #projects {
    background-position: -300px,0px;
  }
}

@media only screen and (min-width: 880px) {
  /*
    #offerings{
        background-size: cover;
        margin-bottom: 128px;
    }
    */
  #offerings {
    margin-top: 128px;
  }
  #offeringsTitle {
    padding-left: 300px;
    padding-bottom: 18px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #offeringsTitle h1 {
    font-size: 48pt;
  }
  .offeringListItem, #offeringsList ul .offeringListItem-selected, .offeringsList ul .offeringListItem-selected {
    font-size: 18pt;
    margin: 32px;
  }
  .offeringListItem-selected {
    font-weight: 600;
  }
  #offeringsList {
    padding-left: 256px;
    padding-bottom: 64px;
  }
  #offeringsText {
    width: 35%;
    padding: 16px;
    padding-left: 128px;
  }
}

@media only screen and (max-width: 880px) {
  /*
    #aboutUs{
        grid-template-areas: 
        "Holexp"
        "ourVision"
        "ourMission"    
        ;
    }*/
  #offerings {
    margin-top: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #offeringsText {
    width: 80%;
    padding-bottom: 16px;
  }
  /*
    #offerings{
        background-size: contain;
    }*/
  #offeringsTitle {
    padding-left: 350px;
  }
  #offeringsTitle h1 {
    font-size: 24pt;
  }
  #offeringsList {
    padding-bottom: 320px;
  }
}

@media only screen and (max-width: 480px) {
  #offeringsList {
    padding-bottom: 500px;
  }
}

@media only screen and (max-width: 1200px) {
  /*#features{
        grid-template-areas:
        "featuresDiv1 featuresDiv2"
        "featuresDiv3 featuresDiv4";
    }*/
  #YTWrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  /*#features{
        grid-template-areas:
        "featuresDiv1 featuresDiv2"
        "featuresDiv3 featuresDiv4";
    }*/
  #YTWrapper {
    width: 50%;
  }
}

/*
@media only screen and (min-width: 1500px){
    #features{
        grid-template-areas:
        "featuresDiv1 featuresDiv2 featuresDiv3 featuresDiv4";
    }
}

@media only screen and (max-width: 750px){
    #features{
        grid-template-areas:
        "featuresDiv1"
        "featuresDiv2"
        "featuresDiv3"
        "featuresDiv4";
    }
}
*/
@media only screen and (max-width: 600px) {
  #introductoryInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #introductoryInfo img {
    width: 90%;
  }
  #landingDiv {
    padding-top: 8px;
  }
  /*
    #features{
        flex-direction: column;
    }
    */
  #quickLinks {
    display: none;
  }
  #projectsInfo {
    width: 85%;
  }
  #projects {
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 600px) {
  #introductoryInfo {
    padding-top: 128px;
  }
  #introductoryInfo img {
    width: 45%;
  }
  #landingDiv {
    padding-top: 32px;
  }
  /*
    #features{
        flex-direction: row;
    }
    */
  .feature {
    float: left;
  }
  #projects {
    background-size: contain;
  }
  #projectsInfo {
    width: 40%;
    padding: 128px;
  }
}

* {
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F6F6F7;
}

#landingDiv {
  background-color: white;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar #quickLinks {
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#navbar #quickLinks ul {
  list-style: none;
}

#navbar #quickLinks ul li {
  color: #010B1C;
  display: inline;
  margin-left: 18px;
  margin-right: 18px;
}

#navbar #quickLinks ul li:hover {
  cursor: pointer;
}

#videoContainer {
  width: 100%;
  background-color: white;
  height: 500px;
}

#introductoryInfo {
  margin: auto;
  padding-bottom: 128px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#introductoryInfo #infoText {
  margin: 60px;
}

#introductoryInfo #infoText h1, #introductoryInfo #infoText h6 {
  margin: 0;
  margin-bottom: 8px;
}

#introductoryInfo #infoText button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  background-color: #010B1C;
  border: none;
  color: white;
  padding: 16px;
  border-radius: 25px;
  height: 35px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#introductoryInfo #infoText button span {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#introductoryInfo #infoText button:hover {
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background-color: white;
  color: #010B1C;
}

#introductoryInfo #infoText button:hover span {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

#introductoryInfo #infoText button p {
  font-weight: 700;
}

#introductoryInfo #infoText button span {
  margin: 0;
  font-weight: 100;
}

#introductoryInfo #infoText h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: 800;
  font-size: 32pt;
}

#YTWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-bottom: 64px;
}

.videoEmbed {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.videoEmbed-collapsed {
  display: none;
}

.videoEmbed-expanded {
  display: block;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  height: 0px;
}

.videoEmbed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a6e;
  border-radius: 10px;
}

#features {
  display: -ms-grid;
  display: grid;
  width: 80%;
  overflow-x: scroll;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  padding: 16px;
  padding-top: 128px;
  padding-bottom: 256px;
  justify-items: center;
      grid-template-areas: "featuresDiv1 featuresDiv2 featuresDiv3 featuresDiv4";
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 8px;
}

#features a {
  text-decoration: none;
  color: #010B1C;
}

#features .feature {
  width: 330px;
  height: 360px;
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#features .feature:hover {
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-filter: drop-shadow(0 1rem 0.75rem rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 1rem 0.75rem rgba(0, 0, 0, 0.1));
}

#features .feature:hover span {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  background: none;
}

#features .feature p {
  font-weight: 800;
  font-size: 24pt;
}

#features .feature span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20pt;
  width: 50px;
  height: 50px;
  color: #010B1C;
  background-color: #F6F6F7;
  padding: 4px;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#projects {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url("./assets/project_illustration_2x.png");
}

#projects #projectsInfo {
  margin: 16px;
  margin-left: auto;
}

#projects #projectsInfo #infoTextProj {
  line-height: 2rem;
  width: 80%;
  float: left;
}

#projects #projectsInfo #infoTextProj h1, #projects #projectsInfo #infoTextProj p {
  font-family: 'Archivo', sans-serif;
}

#projects #projectsInfo #infoTextProj h1 {
  font-size: 32pt;
  font-weight: 800;
}

#projects #projectsInfo #infoTextProj p {
  font-size: 14pt;
  font-weight: 300;
}

#offerings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 85vh;
  background-repeat: no-repeat;
}

#offeringsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#offeringsTitle h1 {
  font-weight: 800;
}

#offeringsText {
  line-height: 2rem;
  font-family: 'Archivo', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e0e0e0;
  font-size: 16pt;
  font-weight: 300;
}

#offeringsList, .offeringsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#offeringsList ul .offeringListItem, #offeringsList ul .offeringListItem-selected, .offeringsList ul .offeringListItem, .offeringsList #offeringsList ul .offeringListItem-selected, #offeringsList .offeringsList ul .offeringListItem-selected, .offeringsList ul .offeringListItem-selected {
  color: #e0e0e0;
  font-weight: 500;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

#offeringsList ul .offeringListItem:hover, #offeringsList ul .offeringListItem-selected:hover, .offeringsList ul .offeringListItem:hover, .offeringsList #offeringsList ul .offeringListItem-selected:hover, #offeringsList .offeringsList ul .offeringListItem-selected:hover, .offeringsList ul .offeringListItem-selected:hover {
  cursor: pointer;
}

#offeringsList ul .offeringListItem-selected, .offeringsList ul .offeringListItem-selected {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  color: white;
}

.offeringsDiv {
  height: 50%;
}

#aboutUs {
  overflow-x: scroll;
  margin-top: 64px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  padding-bottom: 128px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
      grid-template-areas: "Holexp ourVision ourMission";
}

#aboutUsDivs {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 16px;
}

#aboutUsHeader h1 {
  font-size: 32pt;
  font-weight: 900;
}

.aboutUsDiv {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 600px;
  margin: 16px;
  border-radius: 18px;
  overflow: hidden;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
}

.aboutUsDiv:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.aboutUsDiv img, .aboutUsDiv h3, .aboutUsDiv p {
  margin: 0;
  padding: 0;
}

.aboutUsDiv img {
  width: 400px;
}

.aboutUsDiv .aboutUsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  padding-top: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: white;
}

.aboutUsDiv .aboutUsText h3 {
  font-size: 20pt;
  margin-bottom: 16px;
}

.aboutUsDiv .aboutUsText p {
  line-height: 1.3rem;
  font-size: 12pt;
}
/*# sourceMappingURL=index.css.map */
