$transTime: 0.4s;
@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

body {
    font-family: 'B612', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
#mainContainer2 {
    margin: 32px;
    text-align: center;
}

.mainContainer {
    min-width: 400px;
    min-height: 650px;
    resize: both;
    margin: 32px;
    text-align: center;
    position: absolute;
    z-index: 1;
    width: 1000px;
    max-width: 1000px;
    height: 80%;
    max-height: 80%;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-duration: 0.4s;
    &-smaller{
        @extend .mainContainer;
    }
    &-show{
        @extend .mainContainer;
        animation-name: animateIn;
        animation-duration: 0.4s;
    }
    &-hidden{
        @extend .mainContainer;
        animation-name: animateOut;
        animation-duration: 0.4s;
    }
}


.mainAndDetail {
    width: 100%;
    height: 93%;
    overflow-x: hidden;
}

.wrapperDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    float: left;
    &-ogPosition{
        @extend .wrapperDiv;
        opacity: 1;
        transform: translate3d(0,0,0);
        transition: transform $transTime ease-in-out,
                    opacity $transTime ease-in-out;
    }
    &-movedLeft{
        @extend .wrapperDiv;
        opacity: 0;
        transform: translate3d(-80px,0,0);
        transition: transform $transTime ease-in-out,
                    opacity $transTime ease-in-out;
    }
}

.videoDetail {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    &-ogPosition{
        @extend .videoDetail;
        opacity: 0;
        transform: translate3d(80px,0,0);
        transition: transform $transTime ease-in-out,
                    opacity $transTime ease-in-out;
    }
    &-movedLeft{
        @extend .videoDetail;
        opacity: 1;
        transform: translate3d(0px,0,0);
        transition: transform $transTime ease-in-out,
                    opacity $transTime ease-in-out;
    }
    h3{
        padding: 0;
        margin: 16px;
    }
    #YTiframeWrapper{
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }
    #expandedYT{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    #expandedTextDiv{
        min-height: 43.75%;
        height: fit-content;
    }
    .textDescription {
        margin: 32px;
        text-align: justify;
    }
} 



@keyframes animateIn {
    from {transform: translate3d(0,-15px,0); opacity: 0;}
    to {transform: translate3d(0,0px,0); opacity: 1;}
}

@keyframes animateOut {
    from {transform: translate3d(0,0px,0); opacity: 1;}
    to {transform: translate3d(0,-15px,0); opacity: 0;}
}

.videos {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    width: 90%;
}

.video {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    margin: 16px;
    border-radius: 12px;
    overflow: hidden;
    //background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.075),0 6px 20px 0 rgba(0, 0, 0, 0.041);
    transition: 0.2s ease-out;
    &:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        transition: 0.2s ease-in;
    }
}

.thumbnail {
    width: 320px;
    height: 100%;
    object-fit: cover;
}

.textInfo {
    min-width: 400px;
    margin: 8px;
    padding: 8px;
    width: 100%;
    p{
        text-align: left;
    }
}

.ctrlButton {
    transition: 0.4s ease-in;
    margin: 16px;
    background: none;
    padding: 4px;
    margin: 8px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    &-close{
        @extend .ctrlButton;
        background-color: white;
        border: 1px solid rgb(175, 0, 0);
        color: rgb(175, 0, 0);
        float: right;
        width: 30px;
        height: 30px;
        &:hover{
            background-color: red;
            color: white;
            transition: 0.3s ease-in-out;
        }
    }
    &-back{
        @extend .ctrlButton;
        background-color: rgb(42, 42, 42);
        border: 1px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        float: left;
        width: 80px;
        height: 30px;
        &:hover{
            background-color: rgb(255, 255, 255);
            color: rgb(42, 42, 42);
            transition: 0.3s ease-in-out;
        }
    }
    &-minimize{
        @extend .ctrlButton;
        background-color: rgb(255, 255, 255);
        color: rgb(43, 188, 255);
        border: 1px solid rgb(43, 188, 255);
        width: 80px;
        height: 30px;
        &:hover{
            background-color: rgb(43, 188, 255);
            color: rgb(255, 255, 255);
            transition: 0.3s ease-in-out;
        }
    }
    &-hide{
        @extend .ctrlButton;
        opacity: 0;
        transition: 0.4s ease-in;
    }
    &-show{
        @extend .ctrlButton;
        opacity: 1;
        transition: 0.4s ease-in;
    }
}

.closeBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(42, 42, 42);
    p{
        padding-right: 75px;
    }
    &:hover{
        cursor: grab;
    }
    .itemID {
        font-weight: bold;
        color: white;
    }
}

.minimizedVideoDiv {
    margin: 32px;
    position: absolute;
    z-index: 1;
    resize: both;
    width: 355px;
    height: 225px;
    min-width: 355px;
    min-height: 225px;
    right: 16px;
    bottom: 16px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.10);
    &-show{
        @extend .minimizedVideoDiv;
        animation-name: animateIn;
        animation-duration: 0.4s;
    }
    &-hidden{
        @extend .minimizedVideoDiv;
        animation-name: animateOut;
        animation-duration: 0.4s;
    }
    #videoDivMin{
        height: 200px;
    }
    #minimizedCloseBar{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 20px;
        padding: 4px;
        background-color: rgb(42, 42, 42);
        margin: 0;
        cursor: grab;
        span{
            color: white;
            cursor: pointer;
        }
    }
}
